{% extends 'base.html.twig' %}

{% block title %} Profil | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Pseudo</th>
                <td>{{ participant.Pseudo }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ participant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ participant.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ participant.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ participant.email }}</td>
            </tr>
            <tr>
                <th>Campus</th>
                <td>{{ participant.campus.nom }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('ressources/imgProfil/' ~ participant.image) }}" alt="{{ participant.image }}"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_participant_index') }}">back to list</a>

    <a href="{{ path('app_participant_edit', {'id': participant.id}) }}">edit</a>

    {{ include('participant/_delete_form.html.twig') }}
{% endblock %}
