{% extends 'base.html.twig' %}

{% block title %}Campus index{% endblock %}

{% block body %}
    <h1>Liste des Campus</h1>
    <div id="showVille">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for campus in campuses %}
                <tr>
                    <td>{{ campus.id }}</td>
                    <td>{{ campus.nom }}</td>
                    <td>
                        <a href="{{ path('app_campus_show', {'id': campus.id}) }}">Afficher</a>
                        <a href="{{ path('app_campus_edit', {'id': campus.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Campus non enregistré</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="btnCreer">
        <a type="button" class="btn btn-primary" href="{{ path('app_campus_new') }}">Créer un nouveau campus</a>
    </div>
{% endblock %}
