{% extends 'base.html.twig' %}

{% block title %}Campus{% endblock %}

{% block body %}
    <h1>Campus</h1>
    <div>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ campus.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ campus.nom }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div id="btnCreer">
        <a type="button" class="btn btn-primary" href="{{ path('app_campus_edit', {'id': campus.id}) }}">Modifier</a>
    </div>
    <div id="btnCreer">
        <a type="button" class="btn btn-primary" href="{{ path('app_campus_index') }}">retour à la liste des Campus</a>
    </div>

    {{ include('campus/_delete_form.html.twig') }}
{% endblock %}
