{% extends 'base.html.twig' %}

{% block title %}Liste sorties | {{ parent() }}{% endblock %}

{% block body %}
    <h1>liste des sorties</h1>

    <div id="tableauListeSorties">
        <table class="table-sm">
            <thead>
                <tr>
                    <th scope="col">Nom de la sortie</th>
                    <th scope="col">Date de la sortie</th>
                    <th scope="col">Date Limite Inscription</th>
                    <th scope="col">Nombre de places</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Inscrit</th>
                    <th scope="col">Organisateur</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i:s') : '' }}</td>
                    <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y') : '' }}</td>
                    <td>{{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% for inscrit in sortie.participantSortie %}
                            {% if app.user ==  inscrit  %}
                            <p>X</p>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ sortie.organisateur.pseudo }}</td>
                    <!--<td>{# {{ sortie.infosSortie }} #}</td>-->
                    <td>
                        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher</a>
                        {% if sortie.participantSortie is empty %}
                            <a href="{{ path('app_sortie_follow', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}
                        {% if sortie.participantSortie is not empty %}
                            {% set present = false %}
                            {% for inscrit in sortie.participantSortie %}
                                {% if app.user ==  inscrit  %}
                                    {% set present = true %}
                                {% endif %}
                            {% endfor %}
                        {% if sortie.dateLimiteInscription|date("Y/m/d") > "now"|date("Y/m/d", "Europe/Paris") or sortie.etat.libelle == "Passée" or sortie.etat.libelle == "Annulée"  %}
                            {% if present == true %}
                                <a href="{{ path('app_sortie_unFollow', {'id': sortie.id}) }}">Se désister</a>
                            {% else %}
                                <a href="{{ path('app_sortie_follow', {'id': sortie.id}) }}">S'Inscrire</a>
                            {% endif %}
                        {% endif %}
                        {% if sortie.organisateur == app.user %}
                            <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">modifier</a>
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Sortie non enregistrée</td>
                </tr>{% endfor %}
            </tbody>
        </table>
        <a type="button" class="btn btn-primary"  href="{{ path('app_sortie_new', {'id': app.user.id}) }}">Créer nouvelle sortie</a>
    </div>
{% endblock %}
