{% extends 'base.html.twig' %}

{% block title %} Détails Sortie | {{ parent() }}{% endblock %}

{% block body %}
    <h1>Détails de la sortie</h1>
    <div class="container-fluid" id="show_sortie">
        <div class="container-fluid" id="show_sortie_part1">
            <table class="table">
                <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ sortie.nom }} : </td>
                </tr>
                <tr>
                    <th>DateHeureDebut : </th>
                    <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>DateLimiteInscription : </th>
                    <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>NbInscriptionsMax : </th>
                    <td>{{ sortie.nbInscriptionsMax }}</td>
                </tr>
                <tr>
                    <th>Duree : </th>
                    <td>{{ sortie.duree ? sortie.duree|date('H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>InfosSortie : </th>
                    <td>{{ sortie.infosSortie }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid" id="show_sortie_part2">
            <table class="table">
                <tbody>
                <tr>
                    <th>Campus : </th>
                    <td>{{ sortie.siteOrganisateur.nom }}</td>
                </tr>
                <tr>
                    <th>Lieu : </th>
                    <td>{{ sortie.lieu }}</td>
                </tr>
                <tr>
                    <th>Rue : </th>
                    <td>{{ sortie.lieu.rue }}</td>
                </tr>
                <tr>
                    <th>Code postal : </th>
                    <td>{{ sortie.lieu.ville.codePostal }}</td>
                </tr>
                <tr>
                    <th>Latitude : </th>
                    <td>{{ sortie.lieu.latitude }}</td>
                </tr>
                <tr>
                    <th>Longitude : </th>
                    <td>{{ sortie.lieu.longitude }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid">
        <h5>Listes des participants inscrits : </h5>
        <table id="listParticip">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for inscrit in sortie.participantSortie %}
                <tr>
                    <td>{{ inscrit.pseudo }}</td>
                    <td>{{ inscrit.prenom }} {{ inscrit.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <a type="button" class="btn btn-primary" href="{{ path('app_sortie_index') }}">Retour Accueil</a>
{% endblock %}