<nav>
    <div>
        <img src="" alt="">
    </div>
    <div>
        <ul>
            <li><a href="{{ path('main_home') }}">accueil</a></li>
            <li><a href="{{ path('app_ville_index') }}">Ville</a></li>
            <li><a href="{{ path('app_campus_index') }}">Campus</a></li>
            {% if app.user %}
                <li><a href="{{ path('app_participant_show', {'id': app.user.id }) }}">Mon profil</a></li>
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
            {% endif %}
        </ul>
    </div>
</nav>